$main-color: rgb(191, 39, 38);

.container {
  .row {
    .test {
      height: 550px;
    }
  }
}

.wrapper-user__image {
  width: 40px;
  height: 40px !important;
  border: 1px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.wrapper-user__edit {
  .user__name {
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
  }

  .user__edit {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #666666;
    position: relative;
    transition: all 0.3s ease 0s;

    &:hover {
      color: $main-color;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: $main-color;
      transition: all 0.3s ease 0s;
    }

    &:hover:after {
      width: 100%;
    }

    i {
      margin-right: 2px;
      font-size: 0.65rem;
    }

    span {
      font-size: 14px;
    }
  }
}

.wrapper-list {
  .wrapper-list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.3s ease 0s;

    li {
      margin-bottom: 10px;
      transition: all 0.3s ease 0s;
      position: relative;

      a {
        text-decoration: none;
        color: #000000;
        font-size: 14px;
        transition: all 0.3s ease 0s;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: $main-color;
        }

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          background: $main-color;
          transition: all 0.3s ease 0s;
        }

        &:hover:before {
          width: 100%;
        }

      }

      .wrapper-list-submenu {
        list-style: none;
        padding-left: 20px;
        margin: 10px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: all 0.3s ease 0s;

        li {
          margin-bottom: 10px;

          a {
            text-decoration: none;
            color: #666666;
            font-size: 14px;
            transition: all 0.3s ease 0s;

            &:hover {
              color: $main-color;
            }
          }
        }
      }
    }
  }
}
