<app-breadcrumb></app-breadcrumb>
<div class="product-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <aside>
          <div class="widget widget_search">
            <div class="">
              <input type="search" placeholder="Tìm" class="search-field" [(ngModel)]="search" /><button>
                <i (click)="handleSearch()" class="fas fa-search"></i>
              </button>
            </div>
          </div>

          <div class="widget widget_categories">
            <h3 class="widget-title">
              <span>Danh mục</span>
            </h3>

            <p-listbox [options]="cat" optionLabel="name" (onChange)="selectCategory($event)"
              [style]="{'width':'15rem', 'border': 'unset'}"></p-listbox>
          </div>



          <div class="widget widget_price_filter">
            <h3 class="widget-title"><span>Filter by Price</span></h3>
            {{filterPrice[0]}} <div class="w-25"></div>{{filterPrice[1]}}
            <p-slider [(ngModel)]="filterPrice" [range]="true" [style]="{'width':'20rem'}" [max]="maxPrice"
              #price></p-slider>

            <!-- Filter button -->
            <button class="btn btn-danger w-25 mt-5" (click)="handleChangePrice(price)">Filter</button>
          </div>

          <div class="widget widget_vaxim_posts_thumb">
            <h3 class="widget-title">
              <span>Our Best Sellers</span>
            </h3>
            <article class="item">
              <a routerlink="/products-details" class="thumb" href="/products-details"><img
                  src="assets/images/product/aothun/10.PNG" alt="blog-image" /></a>
              <div class="info">
                <h4 class="title">
                  <a routerlink="/products-details" href="/products-details">Cheeky woman leather jacket</a>
                </h4>
                <div class="star-rating">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <span class="price">$150.00</span>
              </div>
            </article>
            <article class="item">
              <a routerlink="/products-details" class="thumb" href="/products-details"><img
                  src="assets/images/product/aothun/10.PNG" alt="blog-image" /></a>
              <div class="info">
                <h4 class="title">
                  <a routerlink="/products-details" href="/products-details">Comfort man black hoodie</a>
                </h4>
                <div class="star-rating">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <span class="price">$150.00</span>
              </div>
            </article>
            <article class="item">
              <a routerlink="/products-details" class="thumb" href="/products-details"><img
                  src="assets/images/product/aothun/10.PNG" alt="blog-image" /></a>
              <div class="info">
                <h4 class="title">
                  <a routerlink="/products-details" href="/products-details">Trendy woman black blazer</a>
                </h4>
                <div class="star-rating">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <span class="price">$150.00</span>
              </div>
            </article>
            <article class="item">
              <a routerlink="/products-details" class="thumb" href="/products-details"><img
                  src="assets/images/product/aothun/10.PNG" alt="blog-image" /></a>
              <div class="info">
                <h4 class="title">
                  <a routerlink="/products-details" href="/products-details">Arctix womens essential</a>
                </h4>
                <div class="star-rating">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="fas fa-star"></i>
                </div>
                <span class="price">$150.00</span>
              </div>
            </article>
          </div>

          <div class="widget widget_follow_us">
            <h3 class="widget-title">
              <span>Follow Us</span>
            </h3>
            <ul>
              <li>
                <a href="#" target="_blank">Facebook</a>
              </li>
              <li>
                <a href="#" target="_blank">Twitter</a>
              </li>
              <li>
                <a href="#" target="_blank">Instagram</a>
              </li>
              <li>
                <a href="#" target="_blank">Pinterest</a>
              </li>
              <li>
                <a href="#" target="_blank">Linkedin</a>
              </li>
            </ul>
          </div>

          <div class="widget widget_tag_cloud">
            <h3 class="widget-title">
              <span>Tags</span>
            </h3>
            <div class="tagcloud">
              <a routerlink="/shop-left-sidebar-1">Advertisment</a><a routerlink="/shop-left-sidebar-1">Business</a><a
                routerlink="/shop-left-sidebar-1">Life</a><a routerlink="/shop-left-sidebar-1">Lifestyle</a><a
                routerlink="/shop-left-sidebar-1">Fashion</a><a routerlink="/shop-left-sidebar-1">Ads</a>
            </div>
          </div>
        </aside>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="vaxim-grid-sorting row align-items-center">
          <div class="vaxim-grid-sorting row align-items-center">
            <div class="col-lg-6 col-md-6 result-count">
              <div class="d-flex align-items-center">
                <p>
                  We found
                  <span class="count">12</span> products available for you
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 ordering">
              <div class="select-box">
                <label>Sort By:</label><select (ngModelChange)="handleSort($event)" [(ngModel)]="sortPrice">
                  <option>Default</option>
                  <option value="asc">Giá: tăng dần</option>
                  <option value="desc">Giá: giảm dần</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let item of products">
            <div class="single-products-box">
              <a routerlink="" class="d-block"><img src="{{item.img[0]}}" alt="" /></a>
              <ul class="products-button">
                <li>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView"><i
                      class="fas fa-search-plus"></i><span class="tooltip-label">Quick View</span></a>
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"><i class="fas fa-exchange-alt"></i><span
                      class="tooltip-label">Compare</span></a>
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"><i class="far fa-heart"></i><span class="tooltip-label">Add
                      to Wishlist</span></a>
                </li>
              </ul>
              <span class="sale">SALE</span>
              <div class="content">
                <h3>
                  <a [routerLink]="['/project', item?.slug]">{{item.name}}</a>
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                <div class="price">
                  <span class="new-price">{{item.price |vnd}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="rows"
              [totalRecords]="totalRecords"></p-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>