<app-breadcrumb></app-breadcrumb>
<div class="product-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <aside>
          <div class="widget widget_search">
            <form
              novalidate=""
              class="search-form ng-untouched ng-pristine ng-valid"
            >
              <input
                type="search"
                placeholder="Search..."
                class="search-field"
              /><button type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>

          <div class="widget widget_categories">
            <h3 class="widget-title">
              <span>Loại</span>
            </h3>
            <ul>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  >Accessories</a
                >
              </li>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  >Men</a
                >
              </li>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  >Women</a
                >
              </li>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  >Shoe</a
                >
              </li>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  >Bag</a
                >
              </li>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  >Denim</a
                >
              </li>
            </ul>
          </div>

          <div class="widget widget_colors">
            <h3 class="widget-title">
              <span>Tìm theo màu sắc</span>
            </h3>
            <ul>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  ><span class="gray">Gray</span><span>Gray</span></a
                >
              </li>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  ><span class="green">Green</span><span>Green</span></a
                >
              </li>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  ><span class="red">Red</span><span>Red</span></a
                >
              </li>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  ><span class="black">Black</span><span>Black</span></a
                >
              </li>
              <li>
                <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                  ><span class="brown">Brown</span><span>Brown</span></a
                >
              </li>
            </ul>
          </div>

          <div class="widget widget_price_filter">
            <h3 class="widget-title"><span>Filter by Price</span></h3>
            <div class="filter-price">
              <label for="minPrice">Min Price:</label>
              <input type="number" id="minPrice" name="minPrice" />
            </div>

            <div class="filter-price">
              <label for="maxPrice">Max Price:</label>
              <input type="number" id="maxPrice" name="maxPrice" />
            </div>

            <!-- Filter button -->
            <button onclick="filterByPrice()">Filter</button>
          </div>

          <div class="widget widget_vaxim_posts_thumb">
            <h3 class="widget-title">
              <span>Our Best Sellers</span>
            </h3>
            <article class="item">
              <a
                routerlink="/products-details"
                class="thumb"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/10.PNG"
                  alt="blog-image"
              /></a>
              <div class="info">
                <h4 class="title">
                  <a routerlink="/products-details" href="/products-details"
                    >Cheeky woman leather jacket</a
                  >
                </h4>
                <div class="star-rating">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
                <span class="price">$150.00</span>
              </div>
            </article>
            <article class="item">
              <a
                routerlink="/products-details"
                class="thumb"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/10.PNG"
                  alt="blog-image"
              /></a>
              <div class="info">
                <h4 class="title">
                  <a routerlink="/products-details" href="/products-details"
                    >Comfort man black hoodie</a
                  >
                </h4>
                <div class="star-rating">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
                <span class="price">$150.00</span>
              </div>
            </article>
            <article class="item">
              <a
                routerlink="/products-details"
                class="thumb"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/10.PNG"
                  alt="blog-image"
              /></a>
              <div class="info">
                <h4 class="title">
                  <a routerlink="/products-details" href="/products-details"
                    >Trendy woman black blazer</a
                  >
                </h4>
                <div class="star-rating">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
                <span class="price">$150.00</span>
              </div>
            </article>
            <article class="item">
              <a
                routerlink="/products-details"
                class="thumb"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/10.PNG"
                  alt="blog-image"
              /></a>
              <div class="info">
                <h4 class="title">
                  <a routerlink="/products-details" href="/products-details"
                    >Arctix womens essential</a
                  >
                </h4>
                <div class="star-rating">
                  <i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i><i class="fas fa-star"></i
                  ><i class="fas fa-star"></i>
                </div>
                <span class="price">$150.00</span>
              </div>
            </article>
          </div>

          <div class="widget widget_follow_us">
            <h3 class="widget-title">
              <span>Follow Us</span>
            </h3>
            <ul>
              <li>
                <a href="#" target="_blank">Facebook</a>
              </li>
              <li>
                <a href="#" target="_blank">Twitter</a>
              </li>
              <li>
                <a href="#" target="_blank">Instagram</a>
              </li>
              <li>
                <a href="#" target="_blank">Pinterest</a>
              </li>
              <li>
                <a href="#" target="_blank">Linkedin</a>
              </li>
            </ul>
          </div>

          <div class="widget widget_tag_cloud">
            <h3 class="widget-title">
              <span>Tags</span>
            </h3>
            <div class="tagcloud">
              <a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                >Advertisment</a
              ><a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                >Business</a
              ><a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                >Life</a
              ><a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                >Lifestyle</a
              ><a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                >Fashion</a
              ><a routerlink="/shop-left-sidebar-1" href="/shop-left-sidebar-1"
                >Ads</a
              >
            </div>
          </div>
        </aside>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="vaxim-grid-sorting row align-items-center">
          <div class="vaxim-grid-sorting row align-items-center">
            <div class="col-lg-6 col-md-6 result-count">
              <div class="d-flex align-items-center">
                <p>
                  We found
                  <span class="count">12</span> products available for you
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 ordering">
              <div class="select-box">
                <label>Sort By:</label
                ><select>
                  <option>Default</option>
                  <option>Popularity</option>
                  <option>Latest</option>
                  <option>Price: low to high</option>
                  <option>Price: high to low</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/products1.jpg"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <span class="sale">SALE</span>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Cheeky woman leather jacket</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="new-price">$199.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/products1.jpg"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Comfort man black hoodie</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="new-price">$150.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/products1.jpg"
                  alt="products-image" /></a
              ><span class="out-of-stock">Out of Stock</span>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Trendy woman black blazer</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="old-price">$241.00</span
                  ><span class="new-price">$200.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/products1.jpg"
                  alt="products-image" /></a
              ><span class="hot">HOT</span>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Arctix womens essential</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="new-price">$289.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/products1.jpg"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Mesh lined snowboard</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="new-price">$158.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/products1.jpg"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Pullover ecosmart hooded</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="old-price">$521.00</span
                  ><span class="new-price">$399.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/products1.jpg"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Mesh lined snowboard</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="new-price">$158.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/products1.jpg"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Pullover ecosmart hooded</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="old-price">$521.00</span
                  ><span class="new-price">$399.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/7.PNG"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <span class="sale">SALE</span>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Cheeky woman leather jacket</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="new-price">$199.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/7.PNG"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Comfort man black hoodie</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="new-price">$150.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/7.PNG"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <span class="sale">SALE</span>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Cheeky woman leather jacket</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="new-price">$199.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="single-products-box">
              <a
                routerlink="/products-details"
                class="d-block"
                href="/products-details"
                ><img
                  src="assets/images/product/aothun/7.PNG"
                  alt="products-image"
              /></a>
              <ul class="products-button">
                <li>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#productsQuickView"
                    ><i class="fas fa-search-plus"></i
                    ><span class="tooltip-label">Quick View</span></a
                  >
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"
                    ><i class="fas fa-exchange-alt"></i
                    ><span class="tooltip-label">Compare</span></a
                  >
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"
                    ><i class="far fa-heart"></i
                    ><span class="tooltip-label">Add to Wishlist</span></a
                  >
                </li>
              </ul>
              <div class="content">
                <h3>
                  <a routerlink="/products-details" href="/products-details"
                    >Pullover ecosmart hooded</a
                  >
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn" href="/cart"
                  >Add to cart <i class="fas fa-cart-plus"></i
                ></a>
                <div class="price">
                  <span class="old-price">$521.00</span
                  ><span class="new-price">$399.00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="pagination-area">
              <div class="nav-links">
                <a
                  routerlink="/shop-left-sidebar-1"
                  title="Next Page"
                  class="previous page-numbers"
                  href="/shop-left-sidebar-1"
                  ><i class="fas fa-arrow-left"></i></a
                ><span class="page-numbers current">1</span
                ><a
                  routerlink="/shop-left-sidebar-1"
                  class="page-numbers"
                  href="/shop-left-sidebar-1"
                  >2</a
                ><a
                  routerlink="/shop-left-sidebar-1"
                  class="page-numbers"
                  href="/shop-left-sidebar-1"
                  >3</a
                ><a
                  routerlink="/shop-left-sidebar-1"
                  class="page-numbers"
                  href="/shop-left-sidebar-1"
                  >4</a
                ><a
                  routerlink="/shop-left-sidebar-1"
                  title="Next Page"
                  class="next page-numbers"
                  href="/shop-left-sidebar-1"
                  ><i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
