<app-breadcrumb></app-breadcrumb>


<div class="product-area ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 ">
        <aside class=" widget-area">
          <div class="widget widget_categories">
            <h3 class="widget-title">
              <span>Loại sản phẩm</span>
            </h3>
            <ul class="box-cat">
              <li #cate *ngFor="let item of cat" [attr.data-id]="item.id" (click)="selectCategory(cate)">
                <a class="item-cat">{{ item.name }}</a>
              </li>
            </ul>
          </div>
          <div class="widget widget_price_filter ">
            <h3 class="widget-title"><span>Lọc theo giá</span></h3>
            <div class="w-100  widget_price_filter_info">
              <span class="ms-3">{{filterPrice[0] | vnd}}</span>
              <span>{{filterPrice[1] | vnd}}</span>
            </div>

            <p-slider [(ngModel)]="filterPrice" [range]="true" styleClass="prime-slider-override" [max]="maxPrice"
              (onChange)="handleChangePrice($event)" [step]="100" #price></p-slider>
          </div>
          <div class="widget widget_follow_us">
            <h3 class="widget-title">
              <span>Mạng xã hội</span>
            </h3>
            <ul>
              <li>
                <a><i class="fa-brands fa-facebook"></i> Facebook</a>
              </li>
              <li>
                <a> <i class="fa-brands fa-instagram"></i> Instagram</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>


      <div class="col-lg-8 col-md-12  p-0" *ngIf="products && products.length >0 ; else other_content">
        <div class="box-sort-area mb-5">
          <div class="d-md-flex d-inline">
            <div class="col-lg-6 col-md-6 my-3">
              <div class="text-count">
                Chúng tôi tìm thấy <span class="count text-dark h6"> {{totalRecords}} </span> sản phẩm
              </div>
            </div>
            <div class="col-lg-6 col-md-6 my-3">
              <div class="select-box-price justify-content-center justify-content-md-end">
                <label>Sort By:</label><select (ngModelChange)="handleSort($event)" [(ngModel)]="sortPrice">
                  <option>Default</option>
                  <option value="asc">Giá: tăng dần</option>
                  <option value="desc">Giá: giảm dần</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap box-product-area ">
          <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4" *ngFor="let item of products">
            <div class="single-products-box">
              <a class="d-block"><img src="{{item.img[0]}}" class="w-100 object-fit-fill" /></a>
              <div class="content ">
                <div class="flex-column">
                  <div class="text-main "> {{item.name}}
                  </div>
                  <div class="box-add-cart">
                    <span class="text-cart">Thêm giỏ hàng <i class="fas fa-cart-plus"></i></span>
                    <span class="text-price">{{ item.price |vnd}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
          <p-paginator (onPageChange)="onPageChange($event)" [first]="page" [rows]="rows"
            [totalRecords]="totalRecords"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- </ng-template> -->

<ng-template #other_content>
  <div class="col-lg-8 col-md-12  p-0">
    <div class="w-100 text-center ptb-100">Không tìm thấy sản phẩm nào</div>
  </div>
</ng-template>
<!-- <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" *ngFor="let item of products">
            <div class="single-products-box">
              <a routerlink="" class="d-block"><img src="{{item.img[0]}}" alt="" /></a>
              <ul class="products-button">
                <li>
                  <a href="#" data-bs-toggle="modal" data-bs-target="#productsQuickView"><i
                      class="fas fa-search-plus"></i><span class="tooltip-label">Quick View</span></a>
                </li>
                <li>
                  <a routerlink="/compare" href="/compare"><i class="fas fa-exchange-alt"></i><span
                      class="tooltip-label">Compare</span></a>
                </li>
                <li>
                  <a routerlink="/wishlist" href="/wishlist"><i class="far fa-heart"></i><span class="tooltip-label">Add
                      to Wishlist</span></a>
                </li>
              </ul>
              <span class="sale">SALE</span>
              <div class="content">
                <h3>
                  <a [routerLink]="['/product', item?.slug]">{{item.name}}</a>
                </h3>
                <a routerlink="/cart" class="add-to-cart-btn">Add to cart <i class="fas fa-cart-plus"></i></a>
                <div class="price">
                  <span class="new-price">{{item.price |vnd}}</span>
                </div>
              </div>
            </div>
          </div>

          
        </div> -->