 $color-main : #cf0018;

 .test {
     border: 1px solid red;
 }

 .product-area {
     .widget-area {
         display: flex;
         flex-direction: column;

         .widget_categories,
         .widget_follow_us {
             ul {
                 padding: 0px;

                 li {
                     padding: 5px;
                     width: 100%;
                     list-style: none;
                     padding-left: 20px;

                     a {
                         color: #666666;
                         font-weight: 600;
                         position: relative;
                         text-align: left;
                         padding-bottom: 5px;
                         text-decoration: none;
                         cursor: pointer;

                         &:hover {
                             color: $color-main;
                         }

                         &:before {
                             content: "";
                             position: absolute;
                             left: 0;
                             width: 0;
                             bottom: 0;
                             height: 2px;
                             transition: .5s;
                             background-color: $color-main;
                         }

                         &:hover:before {
                             width: 100%;
                         }
                     }

                 }
             }
         }

         .widget .widget-title {
             background: #ffffff;
             padding: 10px;
             color: #000000;
             position: relative;
             font-weight: 700;
             z-index: 1;

             span {
                 background: #ffffff;
             }

             &:before {
                 left: 0;
                 right: 0;
                 top: 50%;
                 content: "";
                 height: 1px;
                 z-index: -1;
                 margin-top: 1px;
                 position: absolute;
                 transform: translateY(-50%);
                 background-color: #f9efef;
             }
         }

         .widget_price_filter {
             overflow: hidden;
             padding: 10px 0px 20px 0px;

             &_info {
                 display: flex;
                 justify-content: space-between;
                 height: 40px;

                 span {
                     width: 25%;
                     background: #ffffff;
                     color: #000000;
                 }
             }



             .prime-slider-override {

                 max-width: 85%;
                 margin: 10px auto;


                 .p-slider-handle {
                     background: #cf0018;
                     border: #ebeeee;

                     &:hover {
                         background: #cf0018;
                         border: #ebeeee;
                     }

                     &:focus {
                         box-shadow: unset;
                     }
                 }

                 .p-slider-handle-active {
                     border: #000000;
                 }

                 .p-slider-range {
                     background: $color-main;
                 }
             }
         }
     }

     .box-sort-area {
         background: #ffffff;
         width: 100%;
         overflow: hidden;
         color: grey;
         min-height: 50px;

         &>div {
             height: 50px;
             display: flex;
             justify-content: space-between;
             align-items: center;

             .text-count {
                 text-align: center;
             }
         }

         .select-box-price {
             display: flex;
             align-items: center;

             label {
                 margin-right: 10px;
             }

             select {
                 background: #f8f8f8;
                 border: 0px;
                 width: 50%;
                 padding: 5px;
             }
         }



     }
 }

 .box-product-area {
     overflow: hidden;
     gap: 20px 0px;
     min-height: 500px;

     .single-products-box {
         a {
             width: 95%;
             margin: 0 auto;
             background: #fffcfc;

             img {
                 width: 100%;
                 object-fit: cover;
             }
         }

         .content {

             &>div {
                 width: 90%;
                 margin: 0 auto;

                 .text-main {
                     cursor: pointer;
                     margin: 10px 0px;
                     font-weight: 600;
                     color: #000;
                     overflow: hidden;
                     font-size: 1rem;
                     -webkit-box-orient: vertical;
                     display: -webkit-box;
                     -webkit-line-clamp: 1;

                     text-overflow: ellipsis;
                     white-space: normal;
                 }

                 .box-add-cart {
                     display: flex;
                     justify-content: space-between;
                     align-items: center;
                     height: 30px;

                     .text-cart {
                         font-size: 12px;
                         font-weight: 500;
                         color: #666666;
                         position: relative;
                         width: 90px;

                         &:hover .fa-cart-plus,
                         .text-cart {
                             background: $color-main;
                             color: #ffffff;
                             transform: scale();
                         }

                         i {
                             right: -25px;
                             top: 50%;
                             width: 25px;
                             height: 25px;
                             font-size: 12px;
                             position: absolute;
                             transform: translateY(-45%);
                             background-color: #f2f2f2;
                             transition: .5s;
                             text-align: center;
                             border-radius: 50%;
                             line-height: 25px;
                         }



                     }
                 }

                 .text-price {
                     font-size: 12px;
                     color: $color-main;
                     font-weight: 500;
                 }
             }

         }

     }
 }


 .ptb-100 {
     padding-top: 50px;
     padding-bottom: 50px;
 }