<footer>
  <div class="container mt-120">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="single-footer-widget pe-5">
          <a href="" class="logo">
            <img src="/assets/images/logo.jpg" alt="">
          </a>
          <p>Chúng tôi sẽ cho bạn một trải nghiệm tuyệt vời !</p>
          <ul class="socials-links">
            <li>
              <a href="">
                <i class="fa-brands fa-facebook-f" style="color: #666666"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-twitter" style="color: #666666"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-instagram" style="color: #666666"></i>
              </a>
            </li>
          </ul>
          <a href="" class="location">Kiểm tra cửa hàng của chúng tôi trong Google Map</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-widget">
          <h3>Trợ giúp</h3>
          <ul class="custom-links">
            <li>
              <a href="">
                Theo dõi đơn hàng
              </a>
            </li>
            <li>
              <a href="">
                Hướng dẫn sản phẩm
              </a>
            </li>
            <li>
              <a href="">
                Danh sách yêu thích
              </a>
            </li>
            <li>
              <a href="">
                Chính sách bảo mật
              </a>
            </li>
            <li>
              <a href="">
                Định vị cửa hàng
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-widget">
          <h3>Công ty</h3>
          <ul class="custom-links">
            <li>
              <a href="">
                Về chúng tôi
              </a>
            </li>
            <li>
              <a href="">
                Liên hệ
              </a>
            </li>
            <li>
              <a href="">
                Vị trí
              </a>
            </li>
            <li>
              <a href="">
                Chặng đường
              </a>
            </li>
            <li>
              <a href="">
                Quà tặng
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-widget">
          <h3>Mạng xã hội</h3>
          <ul class="custom-links">
            <li>
              <a href="">
                Instagram
              </a>
            </li>
            <li>
              <a href="">
                Pinterest
              </a>
            </li>
            <li>
              <a href="">
                Facebook
              </a>
            </li>
            <li>
              <a style="color: black;" href="">
                Điện thoại:
              </a>
            </li>
            <li>
              <a href="">
                0909 000 0099
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
