<footer>
  <div class="container mt-120">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="single-footer-widget pe-5">
          <a href="" class="logo">
            <img src="/assets/images/logo.jpg" alt="">
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <ul class="socials-links">
            <li>
              <a href="">
                <i class="fa-brands fa-facebook-f" style="color: #666666"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-twitter" style="color: #666666"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa-brands fa-instagram" style="color: #666666"></i>
              </a>
            </li>
          </ul>
          <a href="" class="location">Check our shop in Google Map</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-widget">
          <h3>Help</h3>
          <ul class="custom-links">
            <li>
              <a href="">
                Track Your Order
              </a>
            </li>
            <li>
              <a href="">
                Product Guides
              </a>
            </li>
            <li>
              <a href="">
                Wishlists
              </a>
            </li>
            <li>
              <a href="">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="">
                Store Locator
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-widget">
          <h3>Help</h3>
          <ul class="custom-links">
            <li>
              <a href="">
                Track Your Order
              </a>
            </li>
            <li>
              <a href="">
                Product Guides
              </a>
            </li>
            <li>
              <a href="">
                Wishlists
              </a>
            </li>
            <li>
              <a href="">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="">
                Store Locator
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-widget">
          <h3>Help</h3>
          <ul class="custom-links">
            <li>
              <a href="">
                Track Your Order
              </a>
            </li>
            <li>
              <a href="">
                Product Guides
              </a>
            </li>
            <li>
              <a href="">
                Wishlists
              </a>
            </li>
            <li>
              <a href="">
                Privacy Policy
              </a>
            </li>
            <li>
              <a href="">
                Store Locator
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
