.nav img{
    width: 50%;
    border-radius: 50%;
}
.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    /* min-height: 100vh; */
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

.products-admin {
  width: 80vw;
}
