<div class="container-fluid container-menu navbar navbar-expand-lg">
    <div class="row justify-content-xl-center box-menu">
        <div class="col-md-1 col-sm-2 box-logo">
            <a class=" h-100 w-100 w-100" href="/"><img class="" width="100" src="assets/HAD.png">
            </a>
        </div>
        <div class="box-page col-lg-6 col-xl-6">
            <div class="">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                </li>
                <li class="nav-item menu">
                    <a class="nav-link active " aria-current="page" href="#">Sản phẩm</a>
                    <div class="sub-menu  ">
                        <a href="#" class=" border-bottom border-2">Shop </a>
                        <a href="#">Shop đồ nữ</a>
                        <a href="#">Shop đồ name</a>
                        <a href="#">Shop đồ bêde</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Bài viết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Về chúng tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">FAQ</a>
                </li>
            </div>
        </div>
        <div class="order-option col-lg-5 col-xl-4 ">
            <div class="option-item">
                <div class="search-box  ">
                    <input type="text" placeholder="Tìm kiếm sản phẩm">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="option-item position-relative">
                <div class="fa fa-cart-shopping  badge-box">

                </div>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    2
                </span>
            </div>
            <div class="option-item position-relative">
                <div class="fa-regular fa-heart badge-box"></div> <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    2
                </span>
            </div>
            <div class="option-item">
                <div class=" fa-regular fa-user"></div>
            </div>
        </div>
        <div class="box-bar d-none navbar-toggler">
            <i class=" fa-solid fa-bars fa-2xl navbar-toggler-icon " class="collapse navbar-collapse"
                id="navbarSupportedContent"></i>
        </div>
    </div>

</div>