<div class="container mb-5 position-relative">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-12 text-center">
      <div class="mx-lg-4 my-lg-0 mx-md-2 my-md-2 m-4 item">
        <div class="image p-4">
          <img class="img-fluid" [src]="category[0]?.thumbnail" alt="" />
        </div>
        <div class="content mt-4">
          <span class="countItem fs-5">{{short}} sản phẩm</span>
          <h3 class="my-3 fw-bolder fs-3">Quần</h3>
          <a href="#" routerLink="/product" class="text-decoration-none text-muted text-uppercase">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 text-center">
      <div class="mx-lg-4 my-lg-0 mx-md-2 my-md-2 m-4 item">
        <div class="image p-4">
          <img class="img-fluid" [src]="category[1]?.thumbnail" alt="" />
        </div>
        <div class="content mt-4">
          <span class="countItem fs-5">{{shirt}} sản phẩm</span>
          <h3 class="my-3 fw-bolder fs-3">Áo</h3>
          <a href="#" routerLink="/product" class="text-decoration-none text-muted text-uppercase">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 text-center">
      <div class="mx-lg-4 my-lg-0 mx-md-2 my-md-2 m-4 item">
        <div class="image p-4">
          <img class="img-fluid" [src]="category[2]?.thumbnail" alt="" />
        </div>
        <div class="content mt-4">
          <span class="countItem fs-5">{{jacket}} sản phẩm</span>
          <h3 class="my-3 fw-bolder fs-3">Áo khoác</h3>
          <a href="#" routerLink="/product" class="text-decoration-none text-muted text-uppercase">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="col d-flex justify-content-center align-items-center p-0 product">
  <div class="wrapper-product">
    <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
    <div class="title">
      <h3>Product</h3>
      <span>100 sản phẩm</span>
    </div>
  </div>
</div>
<div class="col d-flex justify-content-center align-items-center p-0 product">
  <div class="wrapper-product">
    <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
    <div class="title">
      <h3>Product</h3>
      <span>100 sản phẩm</span>
    </div>
  </div>
</div>
<div class="col d-flex justify-content-center align-items-center p-0 product">
  <div class="wrapper-product">
    <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
    <div class="title">
      <h3>Product</h3>
      <span>100 sản phẩm</span>
    </div>
  </div>
</div>
<div class="col d-flex justify-content-center align-items-center p-0 product">
  <div class="wrapper-product">
    <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
    <div class="title">
      <h3>Product</h3>
      <span>100 sản phẩm</span>
    </div>
  </div>
</div>
<div class="col d-flex justify-content-center align-items-center p-0 product">
  <div class="wrapper-product">
    <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
    <div class="title">
      <h3>Product</h3>
      <span>100 sản phẩm</span>
    </div>
  </div>
</div> -->