<div class="container" style="margin-bottom: 120px;">
  <div class="wrapper-category-title mb-5 text-center">
    <div class="d-flex">
      <h2 class="new-arrival-title">Danh mục sản phẩm</h2>
    </div>
  </div>
  <div class="wrapper-category-product">
    <div class="row g-0">
      <div class="col d-flex justify-content-center align-items-center p-0 product">
        <div class="wrapper-product">
          <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
          <div class="title">
            <h3>Product</h3>
            <span>100 sản phẩm</span>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-0 product">
        <div class="wrapper-product">
          <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
          <div class="title">
            <h3>Product</h3>
            <span>100 sản phẩm</span>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-0 product">
        <div class="wrapper-product">
          <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
          <div class="title">
            <h3>Product</h3>
            <span>100 sản phẩm</span>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-0 product">
        <div class="wrapper-product">
          <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
          <div class="title">
            <h3>Product</h3>
            <span>100 sản phẩm</span>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-0 product">
        <div class="wrapper-product">
          <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
          <div class="title">
            <h3>Product</h3>
            <span>100 sản phẩm</span>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center p-0 product">
        <div class="wrapper-product">
          <img src="/assets/images/product/aothun/6-removebg-preview.jpg" alt="" width="150" height="150">
          <div class="title">
            <h3>Product</h3>
            <span>100 sản phẩm</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
