<div class="container mb-5 position-relative">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-12 text-center" *ngFor="let item of productGroupByCate | keyvalue">
      <div class="mx-lg-4 my-lg-0 mx-md-2 my-md-2 m-4 item">
        <div class="image p-4">
          <img class="img-fluid" [src]="item.value[1]" alt="" />
        </div>
        <div class="content mt-4">
          <span class="countItem fs-5">{{ item.value[0] }} sản phẩm</span>
          <h3 class="my-3 fw-bolder fs-3">{{ item.key }}</h3>
          <a href="#" class="text-decoration-none text-muted text-uppercase"
            [routerLink]="['/shop/', item.value[2]]">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>