<app-breadcrumb></app-breadcrumb>
<div class="contact ptb-100 container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 contact-content">
            <h2>Howdy! Tell Us About Your Thinking</h2>
            <p>Contact us with your details & ready to start. Lets provide us a message & contact us!</p>
        </div>
        <div class="col-lg-6 col-md-6 contact-img">
            <img src="" alt="">
        </div>
    </div>
    <div class="contact-form">
        <div class="row m-0">
            <div class="col-lg-8 col-md-12 p-0 ">
                <div class="contact-form-1">
                    <h3>Send Us a Message</h3>
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <label>Your Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <label>Your Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <label>Your Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                <label>Your Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <label>Your Name</label>
                                <textarea cols="30" rows="4" class="form-control"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 remember-me-wrap">
                                <div class="form-check">
                                    <input type="checkbox" id="remember-me" class="form-check-input">
                                    <label for="remember-me" class="form-check-label">Remember me</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12 remember-me-wrap">
                                <button type="submit">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 p-0">
                <div class="contact-info">
                    <h3>Contact Information</h3>
                    <ul class="info">
                        <li><i class="bi bi-geo-alt-fill"></i> Dia chi</li>
                        <li><i class="bi bi-telephone-fill"></i> So dien thoai</li>
                        <li><i class="bi bi-envelope-at"></i> Email</li>
                    </ul>
                    <h3>Follow Us</h3>
                    <ul class="link">
                        <li><a href="">Facebook</a> </li>
                        <li><a href="">Instagram</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- subscribe -->
<div class="pb-100">
    <div class="container">
        <div class="subscribe-inner ng-star-inserted" style="background-image: url(faq-img1.jpg);">
            <div class="content">
                <h2>Sign up now & get 10% off</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
                <form action="" class="newsletter-form">
                    <input type="text" class="input-newsletter" placeholder="Enter your email address">
                    <button>
                        SUBSCRIBE NOW
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>