<app-sidebar-admin></app-sidebar-admin>
<section class="dashboard container mx-2 products-admin">
    <div class="">
        <div class="nav justify-content-end">
            <header class="row">
                <div class="col-7">
                    <h5>Danh sách đơn hàng</h5>
                </div>
                <div class="col-1 pt-2 text-end"><i class="fa-solid fa-magnifying-glass mx-3"></i><i
                        class="fa-solid fa-bell"></i></div>
                <div class="col-2 text-end m-0">
                    <h5 class="pt-1">Huỳnh Kim Phú</h5>
                </div>
                <div class="col-1 text-end"><img src="assets/images/logo.jpg" alt=""></div>
                <div class="col-1 text-end p-0"><button class="btn bg-light shadow-sm"><i class="bi bi-envelope-at"></i>
                        Góp ý</button>
                </div>
            </header>
        </div>
    </div>
    <div class="background border shadow p-3 rounded content mt-5 row">
        <h5 class="text-uppercase mt-3">Danh sách đơn hàng</h5>
        <hr>
        <!-- <div class="row my-3 justify-content-between">
            <div class="col-lg-8">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Tìm</button>
                </form>
            </div>
            <div class="col-lg-2">
                <button class="btn bg-success text-white" (click)="showDialog()">Thêm mới</button>
            </div>
        </div> -->
        <div>
            <p-table #tablePd dataKey="id" [value]="products" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
                [globalFilterFields]="['name', 'price','idCategory']">
                <ng-template pTemplate="caption">
                    <div class="row  my-2 justify-content-between">
                        <div class="col-lg-2">
                            <div pButton class="p-button-outlined bg-success text-white" (click)="showDialog()">Thêm mới
                            </div>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-between">
                            <span class="p-input-icon-left ml-auto col-lg-10">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" class="w-100"
                                    (input)="tablePd.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Search keyword" />
                            </span>
                            <div pButton label="Clear" class="p-button-outlined col-lg-2" icon="pi pi-filter-slash"
                                (click)="clear(tablePd)"></div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 10%;" scope="col">Ảnh</th>
                        <th style="width: 20%;" scope="col" pSortableColumn="name">Tên sản phẩm <p-sortIcon
                                field="name"></p-sortIcon></th>
                        <th class="w-th" scope="col" pSortableColumn="idCategory">Loại <p-sortIcon
                                field="idCategory"></p-sortIcon>
                        </th>
                        <th class="w-th" scope="col" pSortableColumn="price">Giá <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th class="w-th"> Số lượng</th>
                        <th class="w-th" scope="col">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td><img class="" [src]="item.img[0]" alt="" width="50"></td>
                        <td>{{ item.name }}</td>
                        <td>{{ getCatByName(item.idCategory) }}</td>
                        <td>{{ item.price | vnd}}</td>
                        <td> {{ count(item.id)}}</td>
                        <td>
                            <button class="btn bg-success text-white"><i class="bi bi-pencil-square"></i></button>&nbsp;
                            <button class="btn bg-danger text-white" (click)="handleDel(item.id)"><i
                                    class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"
                        (click)="showDialog()"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">

                </ng-template>
            </p-table>
        </div>
    </div>
</section>

<div class=" flex justify-content-center">
    <p-dialog header="Thêm sản phẩm mới" [(visible)]="visible" [style]="{width: '90vw' ,height: '100vh'}">

        <form class="m-auto bg-white  w-100 rounded row" [formGroup]="formAddProduct" (ngSubmit)="onSubmit()">
            <div class="col-6">
                <div class="mb-3">Tên sản phẩm<input formControlName="name" class="form-control my-2">
                </div>

                <div class="mb-3">Tiền<input formControlName="price" class="form-control my-2"></div>
                <div class="mb-3 d-flex">
                    <div class="col-6">
                        Ngày nhập<input class="form-control my-2" type="date" formControlName="date">
                    </div>
                    <div class="col-6">
                        Nổi bật <select class="form-control  my-2" formControlName="feature">
                            <option value="0">Không</option>
                            <option value="1">Có</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="mb-3">Loại sản phẩm<select class="form-control" formControlName="idCategory">
                            <option value="{{item.id}}" *ngFor="let item of cat">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="" formGroupName="kt">
                    <label>Size</label>
                    <div class="d-flex gap-3 my-2">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">M</span>
                            <input type="text" class="form-control" formControlName="M" placeholder="Số lượng">
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text px-3" id="addon-wrapping"> L </span>
                            <input type="text" class="form-control" formControlName="L" placeholder="Số lượng">
                        </div>
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">XL</span>
                            <input type="text" class="form-control" formControlName="XL" placeholder="Số lượng">
                        </div>
                    </div>
                </div>
                <div class="my-3">Ảnh sản phẩm
                    <div class="">
                        <p-toast></p-toast>
                        <p-fileUpload name="uploadedFiles[]" url="https://www.primefaces.org/cdn/api/upload.php"
                            (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" [maxFileSize]="1000000"
                            [fileLimit]="2">
                            <ng-template pTemplate="content">
                                <ul *ngIf="uploadedFiles.length">
                                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                                </ul>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
            </div>

            <div class="d-flex">
                <button class="btn btn-success p-2 shadow" type="submit">Thêm mới</button>
            </div>
        </form>

    </p-dialog>
</div>
<p-toast key="toast2"></p-toast>
<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <h3>Sản phẩm</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    </ng-template>
</p-confirmDialog>