$main-color: #bf2626;

.forgot-form-wrraper {
  border: 1px solid $main-color;
  padding: 30px;
  border-radius: 15px;
}

h3 {
  color: $main-color;
}

.forgot-btn {
  background-color: $main-color;
  color: white;
  border: 1px solid $main-color;
  outline: none;

  &:hover {
    color: $main-color;
    background-color: white;
  }
}

.redirectToLogin {
  .redirect {
    text-decoration: none;
    color: $main-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
