<div class="container d-flex justify-content-center ptb-100">
  <div class="forgot-form-wrraper">
    <h3>Lấy lại mật khẩu</h3>
    <p class="text-center">Vui lòng nhập email của bạn để lấy lại mật khẩu.</p>
    <div>
      <input type="email" placeholder="Nhập địa chỉ email" class="form-control mb-3" #passwordResetEmail required>
    </div>

    <div>
      <button class="forgot-btn btn btn-primary mb-3" (click)="authService.ForgotPassword(passwordResetEmail.value)">Lấy
        lại mật khẩu
      </button>
    </div>

    <div class="redirectToLogin">
      <span>Đã có tài khoản <a class="redirect" routerLink="/account/">Đăng nhập</a></span>
    </div>
  </div>

</div>
