<app-breadcrumb></app-breadcrumb>
<div class="container mb-120">
  <div class="row align-items-center">
    <div class="col-lg-4 col-sm-12">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="true"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://vaxim-ng.envytheme.com/assets/img/products/products3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://vaxim-ng.envytheme.com/assets/img/products/products1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://vaxim-ng.envytheme.com/assets/img/products/products3.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="px-lg-3 mt-lg-0 mt-4">
        <h3 class="fw-bolder fs-3">Ergonomic Desk Sofa</h3>
        <div class="my-"><span class="fs-5">$199</span></div>
        <div class="d-flex my-3">
          <div class="rating text-danger d-flex pe-3">
            <i class="bi bi-star-fill d-flex align-items-center"></i>
            <i class="bi bi-star-fill d-flex align-items-center"></i>
            <i class="bi bi-star-fill d-flex align-items-center"></i>
            <i class="bi bi-star-fill d-flex align-items-center"></i>
            <i class="bi bi-star-half d-flex align-items-center"></i>
          </div>
          <span class="reviewsCount">3 reviews</span>
        </div>
        <p class="text-muted my-3 lh-lg">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam
          architecto, non corporis tempora provident praesentium. Architecto,
          obcaecati dolore soluta repudiandae itaque fuga aliquid dolor deleniti
          necessitatibus assumenda laboriosam voluptatum totam.
        </p>
        <ul class="list-unstyled my-3">
          <li class="lh-lg">SKU: AB23213</li>
          <li class="lh-lg">Verdor: lereve</li>
          <li class="lh-lg">Availability: Instock</li>
          <li class="lh-lg">Type <span class="text-muted"> Hodie</span></li>
          <li class="text-muted lh-lg">Delivery & return</li>
        </ul>
        <div class="d-flex align-items-center products-add-to-cart">
          <div class="input-couter position-relative text-center me-3">
            <span class="minus position-absolute start-0 border-end h-100"
              ><i class="bi bi-dash fs-4"></i
            ></span>
            <input class="text-center w-100" type="text" value="1" />
            <span class="plus position-absolute end-0 border-start h-100"
              ><i class="bi bi-plus fs-4"></i
            ></span>
          </div>
          <button
            type="button"
            class="btn btn-dark rounded-0 d-flex justify-content-center align-items-center fw-bolder fs-6"
          >
            <i
              class="bi bi-bag-fill d-flex align-items-center justify-content-center pe-2"
            ></i
            >ADD TO CART
          </button>
        </div>
        <div
          class="d-inline-block my-3 border-bottom border-dark border-2 fs-6"
        >
          <a
            class="d-flex align-items-center text-decoration-none text-dark fw-semibold"
            href="#"
            ><i class="d-flex align-items-center pe-1 bi bi-plus"></i>Add to
            Wishlist</a
          >
        </div>
        <div class="social fs-6">
          <ul class="list-unstyled d-flex align-items-center m-0">
            <li class="me-2">Share:</li>
            <li class="me-1">
              <i
                class="bi bi-facebook text-primary rounded-circle d-flex align-items-center fs-2"
              ></i>
            </li>
            <li class="me-1">
              <i
                class="bi bi-instagram text-white rounded-circle d-flex align-items-center fs-1"
              ></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tab">
    <nav class="mb-lg-4 mb-3">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link lh-lg active"
          id="nav-description-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-description"
          type="button"
          role="tab"
          aria-controls="nav-description"
          aria-selected="true"
        >
          Description
        </button>
        <button
          class="nav-link lh-lg"
          id="nav-information-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-information"
          type="button"
          role="tab"
          aria-controls="nav-information"
          aria-selected="false"
        >
          Information
        </button>
        <button
          class="nav-link lh-lg"
          id="nav-review-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-review"
          type="button"
          role="tab"
          aria-controls="nav-review"
          aria-selected="false"
        >
          Review<span>(4)</span>
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active text-muted"
        id="nav-description"
        role="tabpanel"
        aria-labelledby="nav-description-tab"
        tabindex="0"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
        accusamus sint optio, voluptate totam unde mollitia iure eius distinctio
        enim architecto quis illo consequuntur reiciendis, vitae error soluta
        voluptas aliquid.
      </div>
      <div
        class="tab-pane fade text-muted"
        id="nav-information"
        role="tabpanel"
        aria-labelledby="nav-information-tab"
        tabindex="0"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla
        excepturi iusto cumque! Perferendis tenetur magnam eos fugit, esse nihil
        molestiae fuga totam ipsa quas tempora molestias. Doloribus, similique
        magni.
      </div>
      <div
        class="tab-pane fade text-muted"
        id="nav-review"
        role="tabpanel"
        aria-labelledby="nav-review-tab"
        tabindex="0"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla
        excepturi iusto cumque! Perferendis tenetur magnam eos fugit, esse nihil
        molestiae fuga totam ipsa quas tempora molestias. Doloribus, similique
        magni.
      </div>
    </div>
  </div>
</div>
<app-home-featured-product class="mb-120"></app-home-featured-product>
<app-newsletter></app-newsletter>
