<app-sidebar-admin></app-sidebar-admin>
<section class="dashboard container mx-2 blog-admin">
    <app-header-admin></app-header-admin>

    <div class="background border shadow p-3 rounded content mt-5 row overflow-hidden">
        <h5 class="text-uppercase mt-3">Danh sách bài viết</h5>
        <hr>
        <div>
            <p-table #tablePd dataKey="id" [value]="blog" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }" [globalFilterFields]="['title', 'date']">
                <ng-template pTemplate="caption">
                    <div class="row my-2 justify-content-between">
                        <div class="col-lg-2">
                            <div pButton class="btn btn-outline-secondary" (click)="sidebarVisibleAdd = true">
                                Thêm mới
                            </div>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-end">
                            <span class="p-input-icon-left ml-auto col-lg-10">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" class="w-100" (input)="
                    tablePd.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                            </span>
                            <div pButton class="p-button-outlined col-lg-2" icon="pi pi-filter-slash">
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 10%" scope="col">Ảnh</th>
                        <th style="width: 20%" scope="col" pSortableColumn="title">
                            Tên bài viết <p-sortIcon field="title"></p-sortIcon>
                        </th>
                        <th scope="col" pSortableColumn="date">
                            Ngày đăng <p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th>Hiện</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td><img [src]="item.thumbnail" width="50"></td>
                        <td>{{ item.title.slice(0,20)}}...</td>
                        <td>{{ item.date.seconds * 1000 | date : "dd-MM-YYYY" }}</td>
                        <td>
                            <ng-template [ngIf]="item.block" [ngIfElse]="an">
                                <div>
                                    <p-tag icon="pi pi-check" severity="success" value="Hiện"></p-tag>
                                </div>
                            </ng-template>
                        </td>
                        <td> <button class="btn btn-outline-primary" (click)="modalEdit(item.id)">
                                <i class="bi bi-pencil-square"></i></button>&nbsp;
                            <button class="btn btn-outline-danger" (click)="confirmDel(item.id)">
                                <i class="bi bi-trash-fill"></i></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button (click)="sidebarVisibleAdd = true" icon="pi pi-plus"
                        styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright"> </ng-template>
            </p-table>
        </div>
    </div>
</section>
<p-sidebar [(visible)]="sidebarVisibleAdd" [fullScreen]="true">
    <p-progressBar *ngIf="isLoading" mode="indeterminate"
        [style]="{'height': '6px','margin-bottom': '10px'}"></p-progressBar>
    <ng-template pTemplate="header">
        <h1>Streetwest</h1>
    </ng-template>
    <ng-template pTemplate="content">
        <form class="container" [formGroup]="formAddBlog" (ngSubmit)="submitAddBlog(file)">
            <div class="d-flex justify-content-between">
                <div class="h3">Tạo blog</div>
                <button class="btnAddBlog" type="submit" [disabled]="formAddBlog.invalid">Đăng</button>
            </div>
            <div class="h-100">
                <div class="row">
                    <div class="col-12 my-3">Tiêu đề<input class="w-100" placeholder="Nhập tiêu đề" type="text"
                            pInputText formControlName="title" /></div>
                    <div class="col-auto">Ảnh đại diện <p-fileUpload mode="basic" chooseLabel="Choose"
                            name="uploadedFiles[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"
                            [maxFileSize]="1000000" #file></p-fileUpload></div>
                    <div class="col-3"> Ngày đăng<p-calendar formControlName="date" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class=" mt-3">
                    <p-editor formControlName="content" [style]="{ height: '420px' }"></p-editor>
                </div>

            </div>
        </form>
    </ng-template>
</p-sidebar>



<ng-template #an>
    <div>
        <p-tag icon="pi pi-info-circle" severity="info" value="Ẩn"></p-tag>
    </div>
</ng-template>

<div class="card flex justify-content-center">
    <p-confirmDialog #cd [style]="{width: '50vw'}">
        <ng-template pTemplate="header">
            <h3>Xóa Blog</h3>
        </ng-template>
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
            <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        </ng-template>
    </p-confirmDialog>
</div>

<p-sidebar [(visible)]="sidebarVisibleEdit" [fullScreen]="true">
    <p-progressBar *ngIf="isLoading" mode="indeterminate"
        [style]="{'height': '6px','margin-bottom': '10px'}"></p-progressBar>
    <ng-template pTemplate="header">
        <h1>Streetwest</h1>
    </ng-template>
    <ng-template pTemplate="content">
        <form class="container" [formGroup]="formEditBlog" (ngSubmit)="submitEditBlog(file)">
            <div class="d-flex justify-content-between">
                <div class="h3">Sửa Blog</div>
                <button class="btnAddBlog" type="submit" [disabled]="formEditBlog.invalid">Đăng</button>
            </div>
            <div class="h-100">
                <div class="row justify-content-start ">
                    <div class="col-12 my-3">Tiêu đề<input class="w-100" placeholder="Nhập tiêu đề" type="text"
                            pInputText formControlName="title" /></div>
                    <div class="col-auto d-flex justify-content-between ">
                        <div class="col-auto">Ảnh đại diện <p-fileUpload mode="basic" chooseLabel="Choose"
                                name="uploadedFiles[]" url="https://www.primefaces.org/cdn/api/upload.php"
                                accept="image/*" [maxFileSize]="1000000" #file> </p-fileUpload>
                        </div>
                        <div class="col-auto d-flex justify-content-center ms-5">
                            <img [src]="this.formEditBlog.controls['thumbnail'].value" width="100">
                        </div>
                    </div>

                    <div class="col-3 ms-5"> Ngày đăng<p-calendar formControlName="date" [showIcon]="true"
                            placeholder="Ngày"></p-calendar>
                    </div>
                    <div class="col-3"> Ẩn hiện <br>
                        <p-toggleButton formControlName="block" onLabel="Hiện" offLabel="Ẩn"></p-toggleButton>
                    </div>
                </div>

                <div class=" mt-3">
                    <p-editor formControlName="content" [style]="{ height: '420px' }"></p-editor>
                </div>

            </div>
        </form>
    </ng-template>
</p-sidebar>