<div class="container mb-120">
  <div class="wrapper-category-title mb-3 text-center">
    <div class="d-flex">
      <h2 class="new-arrival-title text-uppercase">Sản phẩm mới</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <p class="text-center w-75 text-muted my-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
        doloremque expedita minima sit. Eius excepturi maxime nam nulla porro
        quos. Aperiam commodi cupiditate expedita facere molestiae, nobis quae
        tenetur totam.
      </p>
    </div>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of productsNew">
      <div class="carousel-wrapper">
        <a href="" class="carousel-img"><img [src]="item.img[0]" alt="" class="object-fit-cover p-4" /></a>
        <div class="home-button-wrapper">
          <button class="home-button">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </ng-template>
    <!-- <ng-template carouselSlide>
      <div class="carousel-wrapper">
        <a href="" class="carousel-img"
          ><img
            src="/assets/images/product/aothun/6-removebg-preview.jpg"
            alt=""
            class="object-fit-cover p-4"
        /></a>
        <div class="home-button-wrapper">
          <button class="home-button">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-wrapper">
        <a href="" class="carousel-img"
          ><img
            src="/assets/images/product/aothun/6-removebg-preview.jpg"
            alt=""
            class="object-fit-cover p-4"
        /></a>
        <div class="home-button-wrapper">
          <button class="home-button">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-wrapper">
        <a href="" class="carousel-img"
          ><img
            src="/assets/images/product/aothun/6-removebg-preview.jpg"
            alt=""
            class="object-fit-cover p-4"
        /></a>
        <div class="home-button-wrapper">
          <button class="home-button">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="carousel-wrapper">
        <a href="" class="carousel-img"
          ><img
            src="/assets/images/product/aothun/6-removebg-preview.jpg"
            alt=""
            class="object-fit-cover p-4 p-4"
        /></a>
        <div class="home-button-wrapper">
          <button class="home-button">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </ng-template> -->
  </owl-carousel-o>
</div>