.nav img {
    width: 50%;
    border-radius: 50%;
}

.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

section .background {
    background-color: rgb(250, 233, 234);
}