<div class="container mb-120">
  <div class="wrapper-category-title mb-3 text-center">
    <div class="d-flex">
      <h2 class="featured-product-title text-uppercase">Sản phẩm nổi bật</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <p class="text-center w-75 text-muted my-3">
        Một số sản phẩm được yêu thích đến từ nhà StreetWest được mọi người tin
        dùng. Với với cách tee tạo nên sự thoải mái có thể giúp nâng cấp tủ đồ
        của bạn.
      </p>
    </div>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let item of productsFeature">
      <div class="carousel-wrapper">
        <a href="" class="carousel-img"><img [src]="item.img[0]" alt="" class="object-fit-cover p-4" /></a>
        <div class="home-button-wrapper">

          <button class="home-button" routerLink="/product/{{ item.slug }}">
            Xem chi tiết
          </button>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>