<div class="container">
  <div class="subscribe-inner ng-star-inserted">
    <div class="content">
      <h2>Sign up now & get 10% off</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>
      <form action="" class="newsletter-form">
        <input type="text" class="input-newsletter" placeholder="Enter your email address">
        <button>
          SUBSCRIBE NOW
        </button>
      </form>
    </div>
  </div>
</div>
