<div class="container">
  <div class="subscribe-inner ng-star-inserted">
    <div class="content">
      <h2>Đăng ký ngay để được giảm 10%</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua.</p>
      <form action="" class="newsletter-form">
        <input type="text" class="input-newsletter" placeholder="Nhập địa chỉ email của bạn">
        <button>
          Đăng ký ngay
        </button>
      </form>
    </div>
  </div>
</div>
