<div class="bg-banner mb-120">
  <div class="container">
    <div class="row m-0 p-0">
      <div
        class="mb-4 col-md-6 col-lg-3 my-4 mb-md-0 mb-lg-0 d-flex justify-content-around align-items-center"
      >
        <div
          class="rounded-circle bg-circle d-flex align-items-center justify-content-center"
        >
          <i
            class="fa-solid fa-truck-fast"
            style="color: #000000; font-size: 28px"
          ></i>
        </div>
        <div>
          <h3 class="title">Miễn phí vận chuyển</h3>
          <span class="subtitle">Đơn hàng trên $200</span>
        </div>
      </div>
      <div
        class="mb-4 col-md-6 col-lg-3 my-4 mb-md-0 mb-lg-0 d-flex justify-content-around align-items-center"
      >
        <div
          class="rounded-circle bg-circle d-flex align-items-center justify-content-center"
        >
        <i class="fa-regular fa-credit-card" style="color: #000000; font-size: 28px"></i>
        </div>
        <div>
          <h3 class="title">Thanh toán an toàn</h3>
          <span class="subtitle">Thanh toán an toàn 100%</span>
        </div>
      </div>
      <div
        class="mb-4 col-md-6 col-lg-3 my-4 mb-md-0 mb-lg-0 d-flex justify-content-around align-items-center"
      >
        <div
          class="rounded-circle bg-circle d-flex align-items-center justify-content-center"
        >
        <i class="fa-solid fa-gift" style="color: #000000; font-size: 28px"></i>
        </div>
        <div>
          <h3 class="title">Phiếu quà tặng</h3>
          <span class="subtitle">Mua ngay từ $500 đến $1000</span>
        </div>
      </div>
      <div
        class="mb-4 col-md-6 col-lg-3 my-4 mb-md-0 mb-lg-0 d-flex justify-content-around align-items-center"
      >
        <div
          class="rounded-circle bg-circle d-flex align-items-center justify-content-center"
        >
        <i class="fa-solid fa-headphones" style="color: #000000; font-size: 28px"></i>
        </div>
        <div>
          <h3 class="title">Hỗ trợ 24/7</h3>
          <span class="subtitle">Sẵn sàng hỗ trợ nhanh chống</span>
        </div>
      </div>
    </div>
  </div>
</div>
