<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-12">
      <div class="row">
        <div class="col-md-6 col-12 blog-item">
          <div class="pb-3">
            <div class="img overflow-hidden">
              <img
                src="https://vaxim-ng.envytheme.com/assets/img/blog/blog2.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="content mt-3">
              <h6 class="text-muted text-uppercase">
                DESIGN - 13th June, 2023
              </h6>
              <h4>
                <a class="text-decoration-none fw-bolder" href="#"
                  >Hướng dẫn mặc gì mùa hè ở đây Những điều con gái cần biết</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 blog-item">
          <div class="pb-3">
            <div class="img overflow-hidden">
              <img
                src="https://vaxim-ng.envytheme.com/assets/img/blog/blog2.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="content mt-3">
              <h6 class="text-muted text-uppercase">
                DESIGN - 13th June, 2023
              </h6>
              <h4>
                <a class="text-decoration-none fw-bolder" href="#"
                  >Vaxim 33 hàng mới về tốt nhất tuần này cho mùa hè</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 blog-item">
          <div class="pb-3">
            <div class="img overflow-hidden">
              <img
                src="https://vaxim-ng.envytheme.com/assets/img/blog/blog2.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="content mt-3">
              <h6 class="text-muted text-uppercase">
                DESIGN - 13th June, 2023
              </h6>
              <h4>
                <a class="text-decoration-none fw-bolder" href="#"
                  >Cách bán quần áo nam cho nữ và quần áo nữ cho nam</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 blog-item">
          <div class="pb-3">
            <div class="img overflow-hidden">
              <img
                src="https://vaxim-ng.envytheme.com/assets/img/blog/blog2.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="content mt-3">
              <h6 class="text-muted text-uppercase">
                DESIGN - 13th June, 2023
              </h6>
              <h4>
                <a class="text-decoration-none fw-bolder" href="#"
                  >8 phụ kiện mùa hè đã lỗi thời và 8 phụ kiện rất hợp thời trang</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 blog-item">
          <div class="pb-3">
            <div class="img overflow-hidden">
              <img
                src="https://vaxim-ng.envytheme.com/assets/img/blog/blog1.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="content mt-3">
              <h6 class="text-muted text-uppercase">
                DESIGN - 13th June, 2023
              </h6>
              <h4>
                <a class="text-decoration-none fw-bolder" href="#"
                  >10 trang phục đi chơi hoàn hảo cho bữa tiệc tại gia</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 blog-item">
          <div class="pb-3">
            <div class="img overflow-hidden">
              <img
                src="https://vaxim-ng.envytheme.com/assets/img/blog/blog2.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="content mt-3">
              <h6 class="text-muted text-uppercase">
                DESIGN - 13th June, 2023
              </h6>
              <h4>
                <a class="text-decoration-none fw-bolder" href="#"
                  >Xu hướng bơi lội gây tranh cãi mà tôi rất thích ngay bây giờ</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 blog-item">
          <div class="pb-3">
            <div class="img overflow-hidden">
              <img
                src="https://vaxim-ng.envytheme.com/assets/img/blog/blog2.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="content mt-3">
              <h6 class="text-muted text-uppercase">
                DESIGN - 13th June, 2023
              </h6>
              <h4>
                <a class="text-decoration-none fw-bolder" href="#"
                  >Sneaker lớn nhất năm 2021 đang khiến chúng ta háo hức cho mùa hè</a
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12 blog-item">
          <div class="pb-3">
            <div class="img overflow-hidden">
              <img
                src="https://vaxim-ng.envytheme.com/assets/img/blog/blog2.jpg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="content mt-3">
              <h6 class="text-muted text-uppercase">
                DESIGN - 13th June, 2023
              </h6>
              <h4>
                <a class="text-decoration-none fw-bolder" href="#"
                  >Năm nhà thiết kế tốt nghiệp Đại học Westminster</a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12">
      <div class="card text-center mb-4">
        <img
          class="card-img-top"
          src="https://vaxim-ng.envytheme.com/assets/img/team/team1.jpg"
          alt="Title"
        />
        <div class="card-body">
          <h4 class="card-title">Nguyen Tri</h4>
          <p class="card-text text-muted">StreetWest Founder</p>
          <p class="card-text text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod.
          </p>
          <img
            src="https://vaxim-ng.envytheme.com/assets/img/signature.png"
            alt=""
          />
        </div>
      </div>
      <div class="widget my-4">
        <h4 class="fw-bolder title position-relative">
          <span class="pe-3 bg-white">Theo dõi chúng tôi</span><span></span>
        </h4>
        <ul class="list-unstyled d-flex align-items-center m-0">
          <li class="me-1">
            <i
              class="bi bi-facebook text-primary rounded-circle d-flex align-items-center fs-2"
            ></i>
          </li>
          <li class="me-1">
            <i
              class="bi bi-instagram text-white rounded-circle d-flex align-items-center fs-1"
            ></i>
          </li>
        </ul>
      </div>
      <div class="widget my-4">
        <h4 class="fw-bolder title position-relative">
          <span class="pe-3 bg-white">Bài viết phổ biến</span><span></span>
        </h4>
        <div class="d-flex align-items-center my-3">
          <div class="img">
            <img
              src="https://vaxim-ng.envytheme.com/assets/img/blog/blog1.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <div class="ps-3">
              <h6 class="fw-bolder">
                Là điện thoại thông minh bán chạy nhất trong năm nay
              </h6>
              <p class="text-muted m-0">Jan 15, 2023</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center my-3">
          <div class="img">
            <img
              src="https://vaxim-ng.envytheme.com/assets/img/blog/blog1.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <div class="ps-3">
              <h6 class="fw-bolder">
                Những bản tình ca đã giúp tôi vượt qua nỗi đau
              </h6>
              <p class="text-muted m-0">Jan 15, 2023</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center my-3">
          <div class="img">
            <img
              src="https://vaxim-ng.envytheme.com/assets/img/blog/blog1.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <div class="ps-3">
              <h6 class="fw-bolder">
                Hai NTK bận rộn với thời trang thu đông 2020
              </h6>
              <p class="text-muted m-0">Jan 15, 2023</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center my-3">
          <div class="img">
            <img
              src="https://vaxim-ng.envytheme.com/assets/img/blog/blog1.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <div class="ps-3">
              <h6 class="fw-bolder">
                Làm việc trong văn phòng là truyền thống của phụ nữ
              </h6>
              <p class="text-muted m-0">Jan 15, 2023</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
