<app-breadcrumb></app-breadcrumb>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-12 shadow" style="min-height: 150px">
      <ng-container *ngIf="listProduct.length !== 0; else noProduct">
        <div class="row cart-area justify-content-around align-items-center" *ngFor="let product of listProduct">
          <div class="btn-close col-2" (click)="removeProduct(product)"></div>
          <div class="col-2">
            <img class="w-100" src="{{ product.img[0] }}" />
          </div>
          <div class="info-product col-8 col-md-6 p-0 m-0">
            <div class="col-12 my-3 info-product_des">
              <p>{{ product.name }} - {{ product.sizeSelected }}</p>
              <div class="text-muted">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Debitis dicta voluptatum necessitatibus aut facilis sapiente
                veritatis deleniti similique nostrum nulla esse non, quisquam
                harum molestiae eos ratione ducimus rem iure?
              </div>
            </div>
            <div class="info-product_qty mb-3 col-md-8 col-11">
              <div class="price">{{ product.price|vnd }}</div>
              <div class="inputCount d-flex">
                <span (click)="minus(product)" class="border rounded-circle"><i
                    class="bi bi-dash use-flex justify-content-center"></i></span>
                <input class="text-center border-0 w-100" type="text"
                  name="quantity-{{ product.id }}-{{ product.sizeSelected }}" id="" value="{{ product.quantity }}" />
                <span (click)="plus(product)" class="border rounded-circle"><i
                    class="bi bi-plus use-flex justify-content-center"></i></span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-lg-4 col-12">
      <div class="py-3 px-4 box-detail-price">
        <div class="my-3 text-danger text-center text-uppercase h4">
          Chi phí ước tính
        </div>
        <div class="h6 d-flex justify-content-between my-3">
          <span class="text-uppercase">Số lượng</span>
          <span>{{ listCartLength }}</span>
        </div>
        <div class="h6 d-flex justify-content-between my-3">
          <span class="text-uppercase">Vận chuyển</span>
          <span>Free</span>
        </div>
        <div class="fw-semibold h5 d-flex justify-content-between my-3">
          <span class="text-uppercase">Tổng cộng</span>
          <span>{{ total|vnd }}</span>
        </div>
        <hr class="my-3 border border-secondary border-1 opacity-25" />
        <button class="btn btn-danger rounded-0" [disabled]="listProduct.length == 0" routerLink="/checkout"
          type="button">
          Thanh toán
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #noProduct>
  <div class="h-100 d-flex align-items-center justify-content-center noProduct">
    <div class="text-center">
      <h3 class="text-capitalize text-muted">
        Chưa có sản phẩm trong giỏ hàng
      </h3>
      <a routerLink="/product" class="mt-3 btn btn-dark text-light shadow rounded-0 px-3 py-2">Mua ngay</a>
    </div>
  </div>
</ng-template>