<div style="margin: 60px 0">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img
        src="https://images.unsplash.com/photo-1479064555552-3ef4979f8908?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y2xvdGhpbmd8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=900&q=60"
        alt="" height="700px" class="object-fit-cover">
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="https://images.unsplash.com/photo-1564584217132-2271feaeb3c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDF8fGNsb3RoaW5nfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=900&q=60"
        alt="" height="700px" class="object-fit-cover">
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="https://images.unsplash.com/photo-1602810316693-3667c854239a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTZ8fGNsb3RoaW5nfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=900&q=60"
        alt="" height="700px" class="object-fit-cover">
    </ng-template>
  </owl-carousel-o>
</div>
