<div class="mb-120 custom">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/streetwest-fdf41.appspot.com/o/Banner.png?alt=media&token=a8e9bca8-2b3d-4b3f-8d99-5a13ecf3bdda&_gl=1*1dtfxbc*_ga*MTQ4OTE0NjY2OS4xNjg1MzY3OTYw*_ga_CW55HF8NVT*MTY4NjU3MzIyMi41Ny4xLjE2ODY1NzcwMDMuMC4wLjA."
        alt="" height="auto" class="object-fit-cover" />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/streetwest-fdf41.appspot.com/o/Banner2.png?alt=media&token=8e0b0a39-500d-448f-bd19-7db7bf9bd8cf&_gl=1*1tgvvch*_ga*MTQ4OTE0NjY2OS4xNjg1MzY3OTYw*_ga_CW55HF8NVT*MTY4NjU3MzIyMi41Ny4xLjE2ODY1NzcwMDguMC4wLjA."
        alt="" height="auto" class="object-fit-cover" />
    </ng-template>
  </owl-carousel-o>
</div>