<app-breadcrumb></app-breadcrumb>
<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 ">
                <div class="about-content">
                    <h2>Giới thiệu <strong class="text-danger">STREET <br class="d-none d-lg-block">WEST</strong> </h2>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 ">
                <div class="about-text">
                    <p><strong class="">It has survived not only five centuries, but
                            also the leap into electronic typesetting, remaining essentially unchanged. Lorem ipsum
                            dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua.</strong>
                    </p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 p-0">
                <div class="about-image "><img class="img-fluid w-100"
                        src="https://images.pexels.com/photos/102129/pexels-photo-102129.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
            </div>
        </div>


        <div class="row funfacts-area ">
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="single-funfacts-box">
                    <div class="icon"><i class="fas fa-shopping-bag"></i>
                    </div>
                    <h3>Products for sale</h3><span class="number">25.6K</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="single-funfacts-box">
                    <div class="icon"><i class="fas fa-store-alt"></i>
                    </div>
                    <h3>Sellers active on store</h3><span class="number">1.2M</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="single-funfacts-box">
                    <div class="icon"><i class="fas fa-shopping-basket"></i>
                    </div>
                    <h3>Buyers active on store</h3><span class="number">25.2M</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div class="single-funfacts-box">
                    <div class="icon"><i class="far fa-credit-card"></i>
                    </div>
                    <h3>Monthly gross sales</h3><span class="number">$10.8M</span>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="feedback-area  ">
    <div class="container m-auto ">
        <div class="section-title">
            <h2><span>Trusted Customer Feedback</span></h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-feedback-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Minim veniam, quis nostrud ullamco laboris
                        nisi ut aliquip ex ea commodo consequat consectetur adipiscing.</p>
                    <h3>Jasica Lora <span>- TV Model</span></h3>
                    <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-feedback-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Minim veniam, quis nostrud ullamco laboris
                        nisi ut aliquip ex ea commodo consequat consectetur adipiscing.</p>
                    <h3>David Conway <span>- Developer</span></h3>
                    <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-feedback-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Minim veniam, quis nostrud ullamco laboris
                        nisi ut aliquip ex ea commodo consequat consectetur adipiscing.</p>
                    <h3>Joe Root <span>- Designer</span></h3>
                    <div class="rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>