/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url(../node_modules//quill/dist/quill.snow.css);
@import url(../node_modules//quill/dist/quill.core.css);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: var(--font-family);
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);


  .owl-dot:hover {
    span {
      background: rgb(191, 39, 38);
    }
  }

  .owl-dot.active {
    span {
      background: rgb(191, 39, 38);
    }
  }
}

.owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 0;
  box-sizing: content-box !important;

  .owl-prev {
    width: 30px;
    position: absolute;
    left: 0;
    display: block;
    background: none;
    color: #6c757d;

    i {
      font-size: 40px;
    }

    &:hover {
      color: rgb(191, 39, 38);
      background: none;
    }
  }

  .owl-next {
    width: 30px;
    position: absolute;
    right: 0;
    display: block;
    background: none;
    color: #6c757d;

    i {
      font-size: 40px;
    }

    &:hover {
      color: rgb(191, 39, 38);
      background: none;
    }
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(224, 224, 236);
  border-radius: 20px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mt-120 {
  margin-top: 120px;
}

.pointer-cus {
  cursor: pointer;
}