<div class="ptb-100">
  <div class="container">
    <div class="row">
      <div class="layout-acc">
        <div class="login-form">
          <h2>Đăng nhập</h2>
          <form action="">
            <div class="form-group mb-3">
              <label>Email </label>
              <input #email type="text" placeholder="" class="form-control">
            </div>
            <div class="form-group mb-3">
              <label>Mật khẩu</label>
              <input #password type="password" placeholder="" class="form-control">
            </div>
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-6 col-6 remember-me-wrap">
                <div class="form-check">
                  <input type="checkbox" id="remember-me" class="form-check-input border ">
                  <label for="remember-me" class="form-check-label">Remember me</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6 lost-your-password-wrap">
                <a href="#" class="lost-your-password" [routerLink]="['/admin/register']">Bạn chưa có tài khoản?</a>
              </div>
            </div>
            <button (click)="authAdminService.SignIn(email.value,password.value)">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
