<div class="container ptb-100 d-flex justify-content-center">
  <div class="form-wrraper">
    <h3 class="mb-3">Đăng ký tài khoản</h3>
    <div class="mb-3 text-start already-account">
      <span>Đã có tài khoản ? <a routerLink="/sign-in">Đăng nhập</a></span>
    </div>

    <div class="mb-3">
      <label for="username" class="form-label d-block">Họ tên</label>
      <input #username type="text" class="form-control" id="username">
    </div>

    <div class="mb-3">
      <label for="userEmail" class="form-label d-block">Email</label>
      <input #userEmail type="email" class="form-control" id="userEmail">
    </div>

    <div class="mb-3">
      <label for="userPwd" class="form-label d-block">Mật khẩu</label>
      <input #userPwd type="password" class="form-control" id="userPwd">
    </div>

    <button *ngIf="!authService.isLoading" class="btn btn-outline-primary w-100 register-button" (click)="authService.SignUp(userEmail.value, userPwd.value, username.value)">Đăng ký
    </button>

    <button *ngIf="authService.isLoading" class="btn btn-outline-primary w-100 register-button" style="background-color: white">
      <p-progressSpinner [style]="{width: '20px', height: '18px'}" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
    </button>

    <div class="my-3 text-center"><span>Or</span></div>
    <button class="btn btn-light w-100 text-center google-button" (click)="authService.GoogleAuth()">
      <img class="me-5" width="24" height="24" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/>
      <span class="">Đăng nhập với Google</span>
    </button>
  </div>

</div>
