<app-breadcrumb></app-breadcrumb>
<div class="ptb-100 mb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="faq-sidebar">
          <ul>
            <li><a href="">Trung tâm trợ giúp</a></li>
            <li><a href="">Thông tin vận chuyển</a></li>
            <li><a href="">Chính sách hoàn trả</a></li>
            <li><a href="">Điều khoản và điều kiện</a></li>
            <li><a href="">Chính sách bảo mật</a></li>
            <li><a href="">Liên hệ chúng tôi</a></li>

          </ul>
        </div>

      </div>
      <div class="col-lg-8 col-md-12">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Tại sao tư vấn lại quan trọng?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Vaxim luôn tìm kiếm các chuyên gia quản lý rủi ro CNTT và bảo mật thông tin tài năng , những người luôn tận tâm, chăm chỉ và tìm kiếm thử thách. Nếu bạn quan tâm đến việc làm với Vaxim , một công ty coi trọng bạn và gia đình bạn, hãy truy cập trang tuyển dụng của chúng tôi.

                một bảng điều khiển
                Hai bộ điều khiển Joy-Con có thể tháo rời
                Tay cầm cho phép bạn kết hợp chúng thành một gamepad duy nhất để chơi trên TV
                Hai dây đai để biến Joy-Cons thành bộ điều khiển riêng lẻ
                Một dock mà bạn có thể sử dụng để kết nối bảng điều khiển của mình với TV để chơi trò chơi truyền thống</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Mục đích của nhà tư vấn là gì?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod cuộc sống cao accusamus terry richardson quảng cáo mực. 3 sói mặt trăng officia aute, non cupidatat ván trượt dolor brunch. Xe tải thực phẩm quinoa nesciuntlaborum eiusmod. Bữa nửa buổi 3 con sói mặt trăng tạm thời, sunt aliqua đặt một con chim trên đó mực cà phê một nguồn gốc nulla giả định shoreditch et. Nihil anim keffiyeh helvetica, bia thủ cônglabore wes anderson cred nesciunt sapiente ea proident. Ad ăn chay ngoại trừ người bán thịt phó lomo.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed  fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Điều gì thu hút bạn đến với vai trò của một nhà tư vấn?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod cuộc sống cao accusamus terry richardson quảng cáo mực. 3 sói mặt trăng officia aute, non cupidatat ván trượt dolor brunch. Xe tải thực phẩm quinoa nesciuntlaborum eiusmod. Brunch 3 sói mặt trăng tạm thời.

                Tunt aliqua đặt một con chim trên đó mực cà phê một nguồn gốc nulla assendda shoreditch et. Nihil anim keffiyeh helvetica, bia thủ cônglabore wes anderson cred nesciunt sapiente ea proident. Ad ăn chay ngoại trừ người bán thịt phó lomo.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseOne">
                Những lợi thế của việc trở thành một nhà tư vấn là gì?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <li>một bảng điều khiển</li>
                <li>Hai bộ điều khiển Joy-Con có thể tháo rời</li>
                <li>Tay cầm cho phép bạn kết hợp chúng thành một gamepad duy nhất để chơi trên TV</li>
                <li>Hai dây đai để biến Joy-Cons thành bộ điều khiển riêng lẻ</li>
                <li>Một dock mà bạn có thể sử dụng để kết nối bảng điều khiển của mình với TV để chơi trò chơi truyền thống</li>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseTwo">
                Là tư vấn một nghề nghiệp tốt?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod cuộc sống cao accusamus terry richardson quảng cáo mực. 3 sói mặt trăng officia aute, non cupidatat ván trượt dolor brunch. Xe tải thực phẩm quinoa nesciuntlaborum eiusmod. Bữa nửa buổi 3 con sói mặt trăng tạm thời, sunt aliqua đặt một con chim trên đó mực cà phê một nguồn gốc nulla giả định shoreditch et. Nihil anim keffiyeh helvetica, bia thủ cônglabore wes anderson cred nesciunt sapiente ea proident. Ad ăn chay ngoại trừ người bán thịt phó lomo.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed  fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                Làm việc trong lĩnh vực tư vấn như thế nào?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod cuộc sống cao accusamus terry richardson quảng cáo mực. 3 sói mặt trăng officia aute, non cupidatat ván trượt dolor brunch. Xe tải thực phẩm quinoa nesciuntlaborum eiusmod. Bữa nửa buổi 3 con sói mặt trăng tạm thời, sunt aliqua đặt một con chim trên đó mực cà phê một nguồn gốc nulla giả định shoreditch et. Nihil anim keffiyeh helvetica, bia thủ cônglabore wes anderson cred nesciunt sapiente ea proident. Ad ăn chay ngoại trừ người bán thịt phó lomo.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed  fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                Ý tưởng kinh doanh khởi nghiệp?
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> <li>một bảng điều khiển</li>
                <li>Hai bộ điều khiển Joy-Con có thể tháo rời</li>
                <li>Tay cầm cho phép bạn kết hợp chúng thành một gamepad duy nhất để chơi trên TV</li>
                <li>Hai dây đai để biến Joy-Cons thành bộ điều khiển riêng lẻ</li>
                <li>Một dock mà bạn có thể sử dụng để kết nối bảng điều khiển của mình với TV để chơi trò chơi truyền thống</li></div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed  fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseThree">
                Tiếp thị kỹ thuật số?
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod cuộc sống cao accusamus terry richardson quảng cáo mực. 3 sói mặt trăng officia aute, non cupidatat ván trượt dolor brunch. Xe tải thực phẩm quinoa nesciuntlaborum eiusmod. Bữa nửa buổi 3 con sói mặt trăng tạm thời, sunt aliqua đặt một con chim trên đó mực cà phê một nguồn gốc nulla giả định shoreditch et. Nihil anim keffiyeh helvetica, bia thủ cônglabore wes anderson cred nesciunt sapiente ea proident. Ad ăn chay ngoại trừ người bán thịt phó lomo.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed  fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseThree">
                Thiết kế và phát triển?
              </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Anim pariatur cliche reprehenderit, enim eiusmod cuộc sống cao accusamus terry richardson quảng cáo mực. 3 sói mặt trăng officia aute, non cupidatat ván trượt dolor brunch. Xe tải thực phẩm quinoa nesciuntlaborum eiusmod. Bữa nửa buổi 3 con sói mặt trăng tạm thời, sunt aliqua đặt một con chim trên đó mực cà phê một nguồn gốc nulla giả định shoreditch et. Nihil anim keffiyeh helvetica, bia thủ cônglabore wes anderson cred nesciunt sapiente ea proident. Ad ăn chay ngoại trừ người bán thịt phó lomo.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-newsletter></app-newsletter>
